/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2015, 10:36:26 AM
    Author     : apprentice
*/

section {

}

.affix {
    top: 0;
}

#nav-row {
    min-height:50px;
}

#sidebar {

}

.sidebar-default {
    left: auto;
}

.sidebar-fixed {
    position: fixed;
    top:0;
    
}