/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 10:08:23 AM
    Author     : apprentice
*/


.affix {
    top:0;
    width: 100%;
}
.menu-icon {
    float:right;
    display:none;
}

@media(max-width:767px){
    .menu-icon{
        display:inline;
    }
}

.page-header{
    height:50px;
    padding-bottom: 0px;
}
.container {
    width:100%
}


.nav-wrapper{
    min-height: 50px;
}
.scrolling-header{
    z-index: 1;
    background-color: red;
}

.sidebar {
    position:fixed;
    right:0;
    background-color:red;
    height:100%
}

@media(min-width: 768px){
.sidebar {
    display:block;

}}

@media(max-width: 767px){
    .sidebar{
        z-index: 1;
        width:45%;
        
    }
}

.hiding {
    display:none;
}

.post {
    background-color: green;
}

.rest-of-post{
    display: none;
}
