/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 10:08:23 AM
    Author     : apprentice
*/
/* reminder to integrate our own media queries with some use of Bootstrap classes: 
Bootstrap applies
xs classes when less than 768 pixels (treats as default, so this applies when no @media block matches), 
sm at 768 and up,
m at 992 and up, and 
lg at 1200 and up

*/




//MAIN LAYOUT

header {
    display:block;
}

.glyphicon-menu-hamburger {
    float:left;
    display:none;
}
.glyphicon-triangle-top {
    float: left;
    display:none;
    
}

.page-header {
    margin: 0;
}


#top-anchor{
    height: 35px;
    z-index: 1;
    background-color:white;
    display:block;
}

.top-anchor-scrolled{
    height:35px;
    position:fixed;
    top:0px;
    
}

.top-anchor-unscrolled{
    
}

.inner-container {
    clear:both;
    
    top:35px;
    
}


.page-header{
    height:100px;
}
.container {
    //width:100%
}
@media(max-width:767px){
    .menu-icon{
        display:inline;
    }
    .sidebar{
        display: none;
        z-index: 1;
        width:45%;

    }
    }

    

@media(min-width: 768px){
    
    #post-wrapper {
       
        
        
    }
    
    
    
    #sidebar {
        display:block;
        background-color:red;
        
    }
    .sidebar-fixed{
    
        position: fixed;
        top:35px;
        background-color: red;
        //note left positioning is assigned by javascript
        //be careful of css in other elements that pushes sidebar
        //location in its "non-fixed" mode
        

    }
    .sidebar-flex {
        
        display:block;
        background-color: red;
        
        
    }
}


@media(min-width: 992px){
    
    #sidebar {
        display:block;
        background-color:red;
        float:right;
        
    }
    
    
    .sidebar-fixed{
        
        position: fixed;
        //note left positioning is assigned by javascript
        //be careful of css in other elements that pushes sidebar
        //location in its "non-fixed" mode
        top: 35px;
        

    }
    .post{
        
        max-width: 650px;
        
    }
    .sidebar-flex {
        
        
    }
    .container{
        max-width:1024px;
    }



}

@media(min-width: 1200px){
    
    .container{
        max-width:1066px;
    }
    
}

.post {
    background-color: green;
}

.rest-of-post{
    display: none;
}